# ==========================================
# PYTHON
# ==========================================
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# ==========================================
# DATABASE
# ==========================================
database.db
database_backup.db

# ==========================================
# BACKUP FILES
# ==========================================
app_backup.py

# ==========================================
# CV / PERSONAL FILES
# ==========================================
*.pdf
*.docx
*.doc

# ==========================================
# CLOUDFLARE
# ==========================================
cloudflared.exe
cloudflared.exe.exe

# ==========================================
# GIT INSTALLATION
# ==========================================
Git/

# ==========================================
# SOFTWARE / INSTALLERS
# ==========================================
Microsoft VS Code/
1.64.0 source code.zip
VC_redist.x64.exe
VSCodeUserSetup-x64-1.138.0.exe
python-manager-26.3.msix

# ==========================================
# STREAMLIT SECRETS
# ==========================================
.streamlit/secrets.toml

# ==========================================
# VS CODE
# ==========================================
.vscode/

# ==========================================
# TEMPORARY FILES
# ==========================================
*.tmp
*.log